div(id="beersDiv" class="columns is-vcentered is-mobile is-multiline is-centered")
  div(class="column is-three-quarters-mobile is-one-fourth-desktop")
    img(src="/images/taps_2.jpg" alt="pic of beer taps") 
  div(class="column is-three-quarters-mobile is-one-fourth-desktop")
    p(class="searchText has-text-centered") We scour the globe for the best craft brews money can buy, and have an ever-changing tap list.  Check back often for new offerings!
  div(class="column is-three-quarters-mobile is-one-fourth-desktop")
    img(src="/images/taps_1.jpg" alt="pic of beer taps")

div(id="fullBeerList" class="columns is-mobile is-multiline is-centered")
  div(class="beerPop column is-four-fifths-mobile is-four-fifths-tablet is-half-desktop")
    p(class="beerName") Firestarter American IPA
    span(class="beerABV") 6.6%  |
    span(class="beerDescription") |  Bonfire Brewing - Eagle, CO
    p A nice citrusy IPA with tropical notes and a mildly toasty malt background.
    hr
  div(class="beerPop column is-four-fifths-mobile is-four-fifths-tablet is-half-desktop")
    p(class="beerName") Firestarter American IPA
    span(class="beerABV") 6.6%  |
    span(class="beerDescription") |  Bonfire Brewing - Eagle, CO
    p A nice citrusy IPA with tropical notes and a mildly toasty malt background.
    hr
  div(class="beerPop column is-four-fifths-mobile is-four-fifths-tablet is-half-desktop")
    p(class="beerName") Firestarter American IPA
    span(class="beerABV") 6.6%  |
    span(class="beerDescription") |  Bonfire Brewing - Eagle, CO
    p A nice citrusy IPA with tropical notes and a mildly toasty malt background.
    hr
  div(class="beerPop column is-four-fifths-mobile is-four-fifths-tablet is-half-desktop")
    p(class="beerName") Firestarter American IPA
    span(class="beerABV") 6.6%  |
    span(class="beerDescription") |  Bonfire Brewing - Eagle, CO
    p A nice citrusy IPA with tropical notes and a mildly toasty malt background.
    hr
  div(class="beerPop column is-four-fifths-mobile is-four-fifths-tablet is-half-desktop")
    p(class="beerName") Firestarter American IPA
    span(class="beerABV") 6.6%  |
    span(class="beerDescription") |  Bonfire Brewing - Eagle, CO
    p A nice citrusy IPA with tropical notes and a mildly toasty malt background.
    hr