div(id="beersDiv" class="columns is-vcentered is-mobile is-multiline is-centered")
  div(class="column is-three-quarters-mobile is-one-fourth-desktop")
    img(src="/images/taps_2.jpg" alt="pic of beer taps") 
  div(class="column is-three-quarters-mobile is-one-fourth-desktop")
    p(class="searchText has-text-centered") We scour the globe for the best craft brews money can buy, and have an ever-changing tap list.  Check back often for new offerings!
  div(class="column is-three-quarters-mobile is-one-fourth-desktop")
    img(src="/images/taps_1.jpg" alt="pic of beer taps")
//- Changed    to   static
div(id="fullBeerList" class="columns is-mobile is-multiline is-centered") 
  each beer in beersArray
    include components/beer

// JavaScript to populate and interact with beers
script(src="/js/beers.js" type="text/javascript")