div(id="gamesDiv" class="columns is-mobile is-multiline is-centered")
  div(class="column ff7Box is-three-quarters-mobile is-one-fourth-desktop read-text")
    p.head Our Games
    br
    p.body#gamesText Come into our taproom to play one of our 180+ tabletop games!  Whether you're a casual gamer looking for something light or want to settle in for a serious strategy game, we have just the game for you! 
  div(class="column is-three-quarters-mobile is-one-fourth-desktop")
    p(class="searchText has-text-centered") Check for something specific
    br
    div(class="has-text-centered")
      form(id="searchGames")
        input(type="text" class="input is-medium")
        br
        button(id="searchBtn" type="submit" class="button is-link is-rounded") Search
      hr
      br
      p(class="searchText") Or browse our library below!
  div(class="column is-three-quarters-mobile is-one-fourth-desktop")
    img(src="/images/games.jpg" alt="pic of front door")

div(class="columns is-mobile is-multiline is-centered")
  p.searchText Search for a game by first letter:
div(id="alphabetDiv" class="columns is-mobile is-multiline is-centered")
  a(class="alphabet" data-index="A" href="#") A |
  a(class="alphabet" data-index="B" href="#") B |
  a(class="alphabet" data-index="C" href="#") C |
  a(class="alphabet" data-index="D" href="#") D |
  a(class="alphabet" data-index="E" href="#") E |
  a(class="alphabet" data-index="F" href="#") F |
  a(class="alphabet" data-index="G" href="#") G |
  a(class="alphabet" data-index="H" href="#") H |
  a(class="alphabet" data-index="I" href="#") I |
  a(class="alphabet" data-index="J" href="#") J |
  a(class="alphabet" data-index="K" href="#") K |
  a(class="alphabet" data-index="L" href="#") L |
  a(class="alphabet" data-index="M" href="#") M |
  a(class="alphabet" data-index="N" href="#") N |
  a(class="alphabet" data-index="O" href="#") O |
  a(class="alphabet" data-index="P" href="#") P |
  a(class="alphabet" data-index="Q" href="#") Q |
  a(class="alphabet" data-index="R" href="#") R |
  a(class="alphabet" data-index="S" href="#") S |
  a(class="alphabet" data-index="T" href="#") T |
  a(class="alphabet" data-index="U" href="#") U |
  a(class="alphabet" data-index="V" href="#") V |
  a(class="alphabet" data-index="W" href="#") W |
  a(class="alphabet" data-index="X" href="#") X |
  a(class="alphabet" data-index="Y" href="#") Y |
  a(class="alphabet" data-index="Z" href="#") Z