div(id="gamesDiv" class="columns is-vcentered is-mobile is-multiline is-centered")
  div(class="column ff7Box is-three-quarters-mobile is-one-fourth-desktop read-text")
    p.head Our Games
    br
    p.body#gamesText Come into our taproom to play one of our 180+ tabletop games!  Whether you're a casual gamer looking for something light or want to settle in for a serious strategy game, we have just the choice for you! 
  div(class="column is-three-quarters-mobile is-one-fourth-desktop")
    p(class="searchText has-text-centered") Check for something specific
    br
    div(class="has-text-centered")
      form(id="searchGames")
        input(type="text" class="input")
        br
        button(id="searchBtn" type="submit" class="button is-link is-rounded") Search
      hr
      br
      p(class="searchText") Or check out our library below!
  div(class="column is-three-quarters-mobile is-one-fourth-desktop")
    img(src="/images/games.jpg" alt="pic of front door")

div(class="columns is-mobile is-multiline is-centered")
  p.searchText Browse for a game by first letter:
div(id="alphabetDiv" class="columns is-mobile is-multiline is-centered")
  a(class="alphabet" data-index="A") A |
  a(class="alphabet" data-index="B") B |
  a(class="alphabet" data-index="C") C |
  a(class="alphabet" data-index="D") D |
  a(class="alphabet" data-index="E") E |
  a(class="alphabet" data-index="F") F |
  a(class="alphabet" data-index="G") G |
  a(class="alphabet" data-index="H") H |
  a(class="alphabet" data-index="I") I |
  a(class="alphabet" data-index="J") J |
  a(class="alphabet" data-index="K") K |
  a(class="alphabet" data-index="L") L |
  a(class="alphabet" data-index="M") M |
  a(class="alphabet" data-index="N") N |
  a(class="alphabet" data-index="O") O |
  a(class="alphabet" data-index="P") P |
  a(class="alphabet" data-index="Q") Q |
  a(class="alphabet" data-index="R") R |
  a(class="alphabet" data-index="S") S |
  a(class="alphabet" data-index="T") T |
  a(class="alphabet" data-index="U") U |
  a(class="alphabet" data-index="V") V |
  a(class="alphabet" data-index="W") W |
  a(class="alphabet" data-index="X") X |
  a(class="alphabet" data-index="Y") Y |
  a(class="alphabet" data-index="Z") Z

div(id="searchResults" class="columns is-mobile is-multiline is-centered")
  div(class="resultDiv column is-two-thirds-mobile is-one-third-tablet is-one-third-desktop")
    p Name: Pandemic
    p Player count: 2-5
    p Time commitment: 30-60 mins
    p Category: Cooperative
    div.has-text-centered
      a(href="#") More info
  div(class="resultDiv column is-two-thirds-mobile is-one-third-tablet is-one-third-desktop")
    p Name: Pandemic
    p Player count: 2-5
    p Time commitment: 30-60 mins
    p Category: Cooperative
    div.has-text-centered
      a(href="#") More info
  div(class="resultDiv column is-two-thirds-mobile is-one-third-tablet is-one-third-desktop")
    p Name: Pandemic
    p Player count: 2-5
    p Time commitment: 30-60 mins
    p Category: Cooperative
    div.has-text-centered
      a(href="#") More info
  div(class="resultDiv column is-two-thirds-mobile is-one-third-tablet is-one-third-desktop")
    p Name: Pandemic
    p Player count: 2-5
    p Time commitment: 30-60 mins
    p Category: Cooperative
    div.has-text-centered
      a(href="#") More info
  div(class="resultDiv column is-two-thirds-mobile is-one-third-tablet is-one-third-desktop")
    p Name: Pandemic
    p Player count: 2-5
    p Time commitment: 30-60 mins
    p Category: Cooperative
    div.has-text-centered
      a(href="#") More info
  div(class="resultDiv column is-two-thirds-mobile is-one-third-tablet is-one-third-desktop")
    p Name: Pandemic
    p Player count: 2-5
    p Time commitment: 30-60 mins
    p Category: Cooperative
    div.has-text-centered
      a(href="#") More info