nav(class="navbar secondary" role="navigation" aria-label="main navigation")
  .navbar-brand
    a(class="navbar-item" href="/html/about")
      img(src="/images/logo_white_border_thumbnail.png" alt="stein")

    a(role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="moreLinks")
      span(aria-hidden="true")
      span(aria-hidden="true")
      span(aria-hidden="true")

  .moreLinks(class="navbar-menu")
    .navbar-start
      a(class="navbar-item " href="/html/about") Home
      a(class="navbar-item " href="/html/beers") Beers
      a(class="navbar-item " href="/html/games") Games
      a(class="navbar-item " href="/html/events") Events
    .navbar-end
      a(class="navbar-item " href="/html/contact") Contact Us

