nav(class="navbar" role="navigation" aria-label="main navigation")
  .navbar-brand
    a(class="navbar-item" href="/")
      img(src="/images/logo_white_border_thumbnail.png" alt="stein")

    a(role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample")
      span(aria-hidden="true")
      span(aria-hidden="true")
      span(aria-hidden="true")

  .navbarBasicExample(class="navbar-menu")
    .navbar-start
      a.navbar-item Home
      a.navbar-item Documentation

      div(class="navbar-item has-dropdown is-hoverable")
        a.navbar-link More

        .navbar-dropdown
          a.navbar-item About
          a.navbar-item Jobs
          a.navbar-item Contact
          hr.navbar-divider
          a.navbar-item Report an issue
          
    .navbar-end
      .navbar-item
        .buttons
          a(class="button is-primary")
            strong() Sign up
          a(class="button is-light") Log in