
div(class="columns is-centered is-mobile")
  div(class="column is-half-desktop is-three-quarters-mobile")
    p.subtitle.secondaryFont On this website...
    ul.secondaryFont.upcoming
      li Arcade games list
      li Suggestions