div(class="columns is-mobile is-multiline is-centered") 
  div(class="column is-three-quarters-mobile is-one-third-desktop secondary" id="carousel")
    img(src="/images/arcade.jpg" alt="arcade games")
  //- Turn this into a carousel
div(class="columns is-mobile is-multiline is-centered") 
  //- Need to change this to be dynamic info  
  div(class="column ff7Box is-three-quarters-mobile is-one-third-desktop" id="includes")
    p.head Includes
    p.body#beers 20 beers on tap
    p.body#beverages Cider, wine, and canned cocktails
    p.body#food Bring your own food or snack with us

    p.body#boardGames Over 180 board games
    p.body#arcadeQuarterGames Quarter fed arcade games
    p.body#arcadeFreeGames Dozens of free arcade games
    p.body#special
  //- Need to change this to be dynamic info
  div(class="column ff7Box is-three-quarters-mobile is-one-third-desktop" id="hoursBox")
    p.head Hours
    p.body#monday Monday: 2pm-11pm
    p.body#tuesday Tuesday: 2pm-11pm
    p.body#wednesday Wednesday: 2pm-11pm
    p.body#thursday Thursday: 2pm-11pm
    p.body#friday Friday: 12pm-12am
    p.body#saturday Saturday: 12pm-12pm
    p.body#sunday Sunday: 12pm-11pm
    p.body#special

//- Events would go down here
p.subtitle.secondaryFont Upcoming Events
div(class="columns is-mobile is-multiline is-centered") 
  div(class="column is-three-quarters-mobile is-one-third-desktop" id="arcadeWrapper")

div(class="columns is-mobile is-multiline is-centered") 
  div(class="column ff7Box is-three-quarters-mobile is-one-third-desktop" id="contact")
    p.head Contact Us
    p.body#phone (720) 287-0155
    p.body#email tabletoptap@gmail.com
    p.body#facebook www.facebook.com/tabletoptap
    p.body#instagram www.instagram.com/thetabletoptap/
  //- Need to change this to be dynamic info  


  
