div(class="columns is-mobile is-vcentered is-multiline is-centered") 
  div(id="welcomeNote" class="column is-three-quarters-mobile is-one-third-desktop")
    br
    p.intro Looking for a new favorite taproom?  You've come to the right place!
    br
    p.intro With 20 brews on tap, dozens of free arcade games, a board game library with 180+ titles and plenty of space to play, Tabletop Tap is just what the doctor ordered.
    
  div(class="column is-three-quarters-mobile is-half-desktop secondary" id="welcomeDiv")
    img(src="/images/bar.jpg" alt="arcade games")

div(class="columns is-mobile is-multiline is-centered") 
  //- Need to change this to be dynamic info  
  div(class="column ff7Box is-three-quarters-mobile is-one-third-desktop" id="hoursBox")
    p.head Hours
    br
    p.body#monday Monday: 2pm-11pm
    p.body#tuesday Tuesday: 2pm-11pm
    p.body#wednesday Wednesday: 2pm-11pm
    p.body#thursday Thursday: 2pm-11pm
    p.body#friday Friday: 12pm-12am
    p.body#saturday Saturday: 12pm-12pm
    p.body#sunday Sunday: 12pm-11pm
    p.body#special
  div(class="column ff7Box is-three-quarters-mobile is-one-third-desktop" id="contact")
    p.head PSA: House Snack Rules
    br
    p.body Gaming is hard work, and a body has to stay fortified.  Feel free to bring in your own snacks or sample some of our offerings--just remember to pack out whatver you pack in!