doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  script(src='https://code.jquery.com/jquery-3.4.1.min.js' integrity='sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=' crossorigin='anonymous')
  title Admin Page
  style.
    * {
    font-family: sans-serif
    }
    .container {
    border: 2px solid black;
    padding: 10px 20px 20px;
    flex: 1;
    margin: 10px 0;
    }
    h1 {
    text-align: center;
    }
    .beerwrap {
    display: flex;
    margin: -10px 0
    }
    .board-game-wrap {
    display: flex;
    margin: -10px 0
    }
    textarea {
    width: 100%;
    height: 200px
    }
    .logoutBtn {
      position: fixed;
      top: 10px;
      right: 20px;
      padding: 10px;
      max-width: 100px;
    }
    .validateField {
      color: red;
      font-weight: bold;
    }

button(class="logoutBtn") Logout
h1 Admin Page
.beerwrap
  .container
    form#add-beer
      h2 Add a beer:
      h3 Beer name:
      p(id="beer_nameError" class="error" style="color: red; font-weight: bold") 
      input#new-beer-name
      h3 Brewery:
      p(id="breweryError" class="error" style="color: red; font-weight: bold") 
      input#new-brewery-name
      h3 Brewery location:
      p(id="brewery_locationError" class="error" style="color: red; font-weight: bold") 
      input#new-brewery-location
      h3 ABV
      p(id="abvError" class="error" style="color: red; font-weight: bold") 
      input#new-abv
      h3 Short description of beer:
      p(id="short_descriptionError" class="error" style="color: red; font-weight: bold") 
      textarea#new-beer-short
      h3 Longer description of beer:
      p(id="long_descriptionError" class="error" style="color: red; font-weight: bold") 
      textarea#new-beer-long
      button Submit
  .container
    h2 Update a beer:
    form#select-beer
      h3 Beer name:
      p(id="beer_nameUError" class="error" style="color: red; font-weight: bold") 
      select#choose-beer
        option(value='0') None Selected
      button Select
    form#update-beer
      h3 Brewery:
      p(id="breweryUError" class="error" style="color: red; font-weight: bold") 
      input#update-brewery
      h3 Brewery location:
      p(id="brewery_locationUError" class="error" style="color: red; font-weight: bold") 
      input#update-location
      h3 ABV
      p(id="abvUError" class="error" style="color: red; font-weight: bold") 
      input#update-abv
      h3 Short description of beer:
      p(id="short_descriptionUError" class="error" style="color: red; font-weight: bold") 
      textarea#update-short
      h3 Longer description of beer:
      p(id="long_descriptionUError" class="error" style="color: red; font-weight: bold") 
      textarea#update-long
      button Submit
.container
  form#del-beer
    h2 Delete a beer:
    select#del-beer-select
      option#0 None Selected
    button DELETE
.board-game-wrap
  .container
    form#api-board-game
      h2 Search the API:
      input
      button Search
  .container
    form#select-board-game
      h3 Update a Board Game:
      select#choose-game
        option(value='0') None Selected
      button Select
.container
  form#board-game-form(method='post' action='/api/games')
    h2 Add a Game:
    h3 Board Game Name:
    p(id="game_nameError" class="error" style="color: red; font-weight: bold") 
    input(name='game_name')
    h3 Rating:
    p(id="ratingError" class="error" style="color: red; font-weight: bold") 
    input(name='rating')
    h3 Category:
    p(id="categoryError" class="error" style="color: red; font-weight: bold") 
    input(name='category')
    h3 Minimum Time:
    p(id="min_timeError" class="error" style="color: red; font-weight: bold") 
    input(name='min_time')
    h3 Maximum Time
    p(id="max_timeError" class="error" style="color: red; font-weight: bold") 
    input(name='max_time')
    h3 Minimum Players
    p(id="min_playersError" class="error" style="color: red; font-weight: bold") 
    input(name='min_players')
    h3 Maximum Players:
    p(id="max_playersError" class="error" style="color: red; font-weight: bold") 
    input(name='max_players')
    h3 Shorter Description of the Game:
    p(id="short_descriptionError" class="error" style="color: red; font-weight: bold") 
    textarea(name='short_description')
    h3 Longer Description of the Game:
    p(id="long_descriptionError" class="error" style="color: red; font-weight: bold") 
    textarea(name='long_description')
    h3 Image Url (Thumbnail)
    p(id="img_thumbError" class="error" style="color: red; font-weight: bold") 
    input(name='img_thumb')
    h3 Image Url (Large)
    p(id="img_originalError" class="error" style="color: red; font-weight: bold") 
    input(name='img_original')
    h3 Url To Purchase Game
    p(id="urlError" class="error" style="color: red; font-weight: bold") 
    input(name='url')
    button Submit
.container
  form#del-game
    h2 Delete a game:
    select#del-game-select
      option#0 None Selected
    button DELETE
.container
  h2 Update Hours:
  hr
  .day
    form#update-hours
      h3#monday Monday: Open-Close
      select(name='mon-open')
        option(value='9') 9:00 am
        option(value='10') 10:00 am
        option(value='11') 11:00 am
        option(value='12') 12:00 pm
        option(value='13') 1:00 pm
        option(value='14' selected) 2:00 pm
        option(value='15') 3:00 pm
        option(value='16') 4:00 pm
        option(value='17') 5:00 pm
        option(value='18') 6:00 pm
        option(value='19') 7:00 pm
        option(value='20') 8:00 pm
        option(value='21') 9:00 pm
      select(name='mon-close')
        option(value='17') 5:00 pm
        option(value='18') 6:00 pm
        option(value='19') 7:00 pm
        option(value='20') 8:00 pm
        option(value='21') 9:00 pm
        option(value='22') 10:00 pm
        option(value='23' selected) 11:00 pm
        option(value='24') 12:00 am
        option(value='25') 1:00 am
        option(value='26') 2:00 am
        option(value='27') 3:00 am
        option(value='28') 4:00 am
        option(value='29') 5:00 am
      input(type='checkbox' name='mon' value='closed')
      | Closed
      br
      hr
      h3#tuesday Tuesday: Open-Close
      select(name='tues-open')
        option(value='9') 9:00 am
        option(value='10') 10:00 am
        option(value='11') 11:00 am
        option(value='12') 12:00 pm
        option(value='13') 1:00 pm
        option(value='14' selected) 2:00 pm
        option(value='15') 3:00 pm
        option(value='16') 4:00 pm
        option(value='17') 5:00 pm
        option(value='18') 6:00 pm
        option(value='19') 7:00 pm
        option(value='20') 8:00 pm
        option(value='21') 9:00 pm
      select(name='tues-close')
        option(value='17') 5:00 pm
        option(value='18') 6:00 pm
        option(value='19') 7:00 pm
        option(value='20') 8:00 pm
        option(value='21') 9:00 pm
        option(value='22') 10:00 pm
        option(value='23' selected) 11:00 pm
        option(value='24') 12:00 am
        option(value='25') 1:00 am
        option(value='26') 2:00 am
        option(value='27') 3:00 am
        option(value='28') 4:00 am
        option(value='29') 5:00 am
      input(type='checkbox' name='tues' value='closed')
      | Closed
      br
      hr
      h3#wednesday Wednesday: Open-Close
      select(name='weds-open')
        option(value='9') 9:00 am
        option(value='10') 10:00 am
        option(value='11') 11:00 am
        option(value='12') 12:00 pm
        option(value='13') 1:00 pm
        option(value='14' selected) 2:00 pm
        option(value='15') 3:00 pm
        option(value='16') 4:00 pm
        option(value='17') 5:00 pm
        option(value='18') 6:00 pm
        option(value='19') 7:00 pm
        option(value='20') 8:00 pm
        option(value='21') 9:00 pm
      select(name='weds-close')
        option(value='17') 5:00 pm
        option(value='18') 6:00 pm
        option(value='19') 7:00 pm
        option(value='20') 8:00 pm
        option(value='21') 9:00 pm
        option(value='22') 10:00 pm
        option(value='23' selected) 11:00 pm
        option(value='24') 12:00 am
        option(value='25') 1:00 am
        option(value='26') 2:00 am
        option(value='27') 3:00 am
        option(value='28') 4:00 am
        option(value='29') 5:00 am
      input(type='checkbox' name='weds' value='closed')
      | Closed
      br
      hr
      h3#thursday Thursday: Open-Close
      select(name='thurs-open')
        option(value='9') 9:00 am
        option(value='10') 10:00 am
        option(value='11') 11:00 am
        option(value='12') 12:00 pm
        option(value='13') 1:00 pm
        option(value='14' selected) 2:00 pm
        option(value='15') 3:00 pm
        option(value='16') 4:00 pm
        option(value='17') 5:00 pm
        option(value='18') 6:00 pm
        option(value='19') 7:00 pm
        option(value='20') 8:00 pm
        option(value='21') 9:00 pm
      select(name='thurs-close')
        option(value='17') 5:00 pm
        option(value='18') 6:00 pm
        option(value='19') 7:00 pm
        option(value='20') 8:00 pm
        option(value='21') 9:00 pm
        option(value='22') 10:00 pm
        option(value='23' selected) 11:00 pm
        option(value='24') 12:00 am
        option(value='25') 1:00 am
        option(value='26') 2:00 am
        option(value='27') 3:00 am
        option(value='28') 4:00 am
        option(value='29') 5:00 am
      input(type='checkbox' name='thurs' value='closed')
      | Closed
      br
      hr
      h3#friday Friday: Open-Close
      select(name='fri-open')
        option(value='9') 9:00 am
        option(value='10') 10:00 am
        option(value='11') 11:00 am
        option(value='12' selected) 12:00 pm
        option(value='13') 1:00 pm
        option(value='14') 2:00 pm
        option(value='15') 3:00 pm
        option(value='16') 4:00 pm
        option(value='17') 5:00 pm
        option(value='18') 6:00 pm
        option(value='19') 7:00 pm
        option(value='20') 8:00 pm
        option(value='21') 9:00 pm
      select(name='fri-close')
        option(value='17') 5:00 pm
        option(value='18') 6:00 pm
        option(value='19') 7:00 pm
        option(value='20') 8:00 pm
        option(value='21') 9:00 pm
        option(value='22') 10:00 pm
        option(value='23') 11:00 pm
        option(value='24' selected) 12:00 am
        option(value='25') 1:00 am
        option(value='26') 2:00 am
        option(value='27') 3:00 am
        option(value='28') 4:00 am
        option(value='29') 5:00 am
      input(type='checkbox' name='fri' value='closed')
      | Closed
      br
      hr
      h3#saturday Saturday: Open-Close
      select(name='sat-open')
        option(value='9') 9:00 am
        option(value='10') 10:00 am
        option(value='11') 11:00 am
        option(value='12' selected) 12:00 pm
        option(value='13') 1:00 pm
        option(value='14') 2:00 pm
        option(value='15') 3:00 pm
        option(value='16') 4:00 pm
        option(value='17') 5:00 pm
        option(value='18') 6:00 pm
        option(value='19') 7:00 pm
        option(value='20') 8:00 pm
        option(value='21') 9:00 pm
      select(name='sat-close')
        option(value='17') 5:00 pm
        option(value='18') 6:00 pm
        option(value='19') 7:00 pm
        option(value='20') 8:00 pm
        option(value='21') 9:00 pm
        option(value='22') 10:00 pm
        option(value='23') 11:00 pm
        option(value='24' selected) 12:00 am
        option(value='25') 1:00 am
        option(value='26') 2:00 am
        option(value='27') 3:00 am
        option(value='28') 4:00 am
        option(value='29') 5:00 am
      input(type='checkbox' name='sat' value='closed')
      | Closed
      br
      hr
      h3#sunday Sunday: Open-Close
      select(name='sun-open')
        option(value='9') 9:00 am
        option(value='10') 10:00 am
        option(value='11') 11:00 am
        option(value='12' selected) 12:00 pm
        option(value='13') 1:00 pm
        option(value='14') 2:00 pm
        option(value='15') 3:00 pm
        option(value='16') 4:00 pm
        option(value='17') 5:00 pm
        option(value='18') 6:00 pm
        option(value='19') 7:00 pm
        option(value='20') 8:00 pm
        option(value='21') 9:00 pm
      select(name='sun-close')
        option(value='17') 5:00 pm
        option(value='18') 6:00 pm
        option(value='19') 7:00 pm
        option(value='20') 8:00 pm
        option(value='21') 9:00 pm
        option(value='22') 10:00 pm
        option(value='23' selected) 11:00 pm
        option(value='24') 12:00 am
        option(value='25') 1:00 am
        option(value='26') 2:00 am
        option(value='27') 3:00 am
        option(value='28') 4:00 am
        option(value='29') 5:00 am
      input(type='checkbox' name='sun' value='closed')
      | Closed
      br
      hr
      button Submit
if true
  // tier === 'TOPADMIN'
  .container
    form#add-employee
      h2 Add employee to permissions:
      // Username
      p(id="loginError" class="error" style="color: red; font-weight: bold") 
      label(for="login")     Username:  
      input(type="text" id="login" placeholder="Must be a unique username")
      // Password
      p(id="passwordError" class="error" style="color: red; font-weight: bold") 
      label(for="password")     Password:  
      input(type="text" id="password" size="50" placeholder="Minimum 8 characters with at least a lower, upper, and number")
      // Email
      p(id="emailError" class="error" style="color: red; font-weight: bold") 
      label(for="email")     Email:  
      input(type="text" id="email" placeholder="example@email.com")
      // Tier
      p(id="tierError" class="error" style="color: red; font-weight: bold") 
      label(for="tier")     Tier:  
      input(type="text" id="tier" placeholder="TOPADMIN or Employee")
      br
      hr
      button Submit
  .container
    form#del-login
      h2 Remove employee from permissions:
      p Username:
      select#del-login-select
        option#0 None Selected
      br
      hr
      button Submit
script(type='text/javascript' src='/js/admin.js')
script(src="https://cdnjs.cloudflare.com/ajax/libs/validate.js/0.7.1/validate.js")