doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  script(src='https://code.jquery.com/jquery-3.4.1.min.js' integrity='sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=' crossorigin='anonymous')
  title pageTitle
  style.
    * {
    font-family: sans-serif
    }
    .container {
    width: 50%;
    border: 2px solid black;
    padding: 10px 20px 20px;
    flex: 1;
    margin: 10px auto;
    }
    input {
    width: 100%;
    }
    h1 {
    text-align: center;
    }
    h2 {
    text-align: center;
    }
    #submitBtn {
    width: 20%;
    position: relative;
    right: 0px;
    text-align: center;
    padding: 20px;
    }
    /* {
    bottom: 0;
    width: 250px;
    padding: 20px;
    text-align: center;
    background: #999;
    } */
h1 Welcome to your new website
h2  Here you will create your master account to interact with your site
.container
  form#admin
    h3 Login
    input#login(name='login' required='')
    h3 Password:
    input#userPassword(name='password' type='password' required='')
    h3 Re-enter Password
    input#userPasswordChecker(type='password' required='')
    h3 Email (for Password recovery)
    input#email(type='email' name='email' required='')
    br
    br
    input#submitBtn(type='submit' value='ENTER')
script(type='text/javascript' src='../js/admin.js')
script(language='javascript' type='text/javascript').
  $("#admin").on("submit", function (evt) {
  evt.preventDefault()
  console.log(this);
  if ($("#userPassword").val().trim() === $("#userPasswordChecker").val().trim()) {
  const newAdmin = {
  login: $("#login").val().trim(),
  password: $("#userPassword").val().trim(),
  email: $("#email").val().trim(),
  tier: "TOPADMIN"
  };
  $.post("/api/permissions/", newAdmin)
  // on success, run this callback
  .then(function (data) {
  // log the data we found
  console.log(data);
  // tell the user we're adding a character with an alert window
  alert("Adding admin...");
  });
  } else alert("passwords don't match");
  })