doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title= pageTitle
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css")
    script(defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js")
    script(
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous")
  body
    include includes/navbar
    section.section
      .container
        h1.title Hello World
        p.subtitle My first website with Bulma and Pug!
        form.field.gameName
          label.label Label
          .control
            input(class="input" type="text" placeholder="Text input" name="gameName")
          p.help Game Title
          button.button.is-primary Submit
    
  script(src= "/js/admin.js" type="text/javascript").

//- doctype html
//- html(lang="en")
//-   head
//-     title= pageTitle
//-     script(type='text/javascript').
//-     script(  src="https://code.jquery.com/jquery-3.4.1.min.js".
//- 			integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
//- 			crossorigin="anonymous"></script>)
//-   body
//-     include navbar
//-     h1 Pug - node template engine
//-     #container.col
//-       if youAreUsingPug
//-         p You are amazing
//-       else
//-         p Get on it!
//-       p.
//-         Pug is a terse and simple templating language with a
//-         strong focus on performance and powerful features.
