h1, h2, h3, h4, h5 {
font-family: 'Press Start 2P', cursive;
}

body {
  font-family: 'Racing Sans One', cursive;
  background-color: olive;
  color: whitesmoke;
}

.title {
  margin-top: 2rem
}
img:not(#logo) {
  border: 3px black solid;
  border-radius: 2%
}

header {
  text-align: center;
  margin-top: 1rem;
}

p.subtitle {
  text-align: center;
}

.secondary {
  background-color: #fdefd4;
}
.primary {
  background-color: #4E342E;
}
.secondaryFont {
  color: #fdefd4;
}
.primaryFont {
  color: olive;
}

.bodyWrapper {
  min-height: 100vh;
}

.ff7Box {
  font-family: 'Press Start 2P', cursive;
  background-color: rgb(45, 45, 167);
  margin: 2rem 1rem;
  border: 3px solid black;
  border-radius: 2%;
  /* box-sizing: border-box;
  max-width: 90vh;
  margin: 1rem 1rem; */
}

#eventsDiv {
  padding: 2rem;
  border: 3px solid black;
  margin: auto;
  width: max-content;
  border-radius: 2%;
  background: darkolivegreen
}

#view-text {
  color: #4a4a4a
}

.has-image-centered {
  margin: auto;
  text-align: center;
}

#fbEvents {
  width: 100%;
}

.beerName {
  font-family: 'Press Start 2P', cursive;
  font-size: 1.5rem
}

.beerPop {
  margin: 20px;
  color: #fdefd4
}

.link {
  color: darkslategrey;
  font-size: 1.5rem
}

.beerABV, .beerDescription {
  font-size: 1.5rem
}

#aboutUsDiv, #gamesDiv, #alphabetDiv, #modalDiv, #beersDiv, #contactDiv {
  background: darkolivegreen;
  margin: 2rem;
  border: 3px solid black;
  border-radius: 2%
}

.modal-background {
  background: darkslategrey;
  opacity: .8
}

.modal-card-body {
  background: darkkhaki;
  border: 2px solid rgb(45, 45, 167);
}

#modalDiv {
  background: olive;
  padding: 0;
  border: 5px solid rgb(45, 45, 167);
}

.delete {

}

#aboutUs, #gamesText {
  font-size: 1rem  
}

.searchText {
  font-size: 2rem;
  color: #fdefd4
}

#searchBtn {
  margin-top: 10px;
}

.modal-title {
  font-size: 2rem;
  color: #4a4a4a
}

.modal-content {
  width: 100%;
}

#modal-game-title {
  text-align: center
}
#description {
  width: 90%;
  margin: auto 0;
  text-align: center
}

.alphabet {
  font-size: 2rem;
  color: black
}

.resultDiv {
  border: 3px solid black;
  border-radius: 2%;
  background: rgb(45, 45, 167);
  font-family: 'Press Start 2P', cursive;
  margin: 10px;
}

p.head {
  text-indent: 0;
  font-size: 1rem;
  color: whitesmoke;
}
p.body {
  text-indent: 1rem;
  font-size: 0.5rem;
  color: whitesmoke;
}

#carousel {
  border: 3px solid black;
  margin-top: 2rem;
}

.upcoming {
  font-size: 1rem;
  text-align: center;
}

footer:not(#modal-foot) {
  background: #fdefd4;
  border-top: solid black 3px;
  padding-top: 9px;
  margin-top: 50px;
}

.footer-text {
  color: #4a4a4a;
}

.icon {
  margin: 1rem
}

/* Animations */
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInDown {
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
}
