h1, h2, h3, h4, h5 {
font-family: 'Press Start 2P', cursive;
}

body {
  font-family: 'Racing Sans One', cursive;
  background-color: olive;
  color: whitesmoke;
}

.title {
  margin-top: 2rem
}
img:not(#logo) {
  border: 3px black solid;
  border-radius: 2%
}

header {
  text-align: center;
  margin-top: 1rem;
}

p.subtitle {
  text-align: center;
}

.secondary {
  background-color: #fdefd4;
}
.primary {
  background-color: #4E342E;
}
.secondaryFont {
  color: #fdefd4;
}
.primaryFont {
  color: olive;
}

.bodyWrapper {
  min-height: 100vh;
}

.ff7Box {
  font-family: 'Press Start 2P', cursive;
  background-color: rgb(45, 45, 167);
  margin: 2rem 1rem;
  border: 3px solid black;
  border-radius: 2%;
  /* box-sizing: border-box;
  max-width: 90vh;
  margin: 1rem 1rem; */
}

@media only screen and (max-width: 600px) {
  .ff7Box.is-four-fifths-mobile {
    width: 90%;
    margin: 1rem
  }
  
  #fullBeerList {
    width: 97%;
    margin: auto
  }

  .column.is-four-fifths-mobile:not(.ff7Box) {
    width: 100%;
  }
}



.eventsDiv {
  padding: 2rem;
  border: 3px solid black;
  margin: auto;
  width: max-content;
  border-radius: 2%;
  background: darkolivegreen
}

#view-text {
  color: #4a4a4a
}

.has-image-centered {
  margin: auto;
  text-align: center;
}

#fbEvents {
  width: 100%;
}

.beerName {
  font-family: 'Press Start 2P', cursive;
  font-size: 1.5rem
}

.beerPop {
  margin: 20px;
  color: #fdefd4
}

.link {
  color: darkslategrey;
  font-size: 1.5rem
}

.beerABV, .beerDescription {
  font-size: 1.5rem
}

#aboutUsDiv, #gamesDiv, #alphabetDiv, #modalDiv, #beersDiv, .contactDiv, #welcomeDiv {
  background: darkolivegreen;
  margin: 2rem;
  border: 3px solid black;
  border-radius: 2%
}

@media only screen and (max-width: 600px) {
  #aboutUsDiv, #gamesDiv, #alphabetDiv, #modalDiv, #beersDiv, .contactDiv, #welcomeDiv {
    margin: 1rem
  }
}

#welcomeNote {
  font-size: 1.5rem;
  font-family: 'Racing Sans One', cursive;
}

.contactDiv {
  width: 90%;
  margin: auto
}

#contact-title {
  font-size: 1.5rem
}
.modal-background {
  background: darkslategrey;
  opacity: .8
}

.modal-card-body {
  background: darkkhaki;
  border: 2px solid rgb(45, 45, 167);
}

#modalDiv {
  background: olive;
  padding: 0;
  border: 5px solid rgb(45, 45, 167);
}

.delete {

}

#aboutUs, #gamesText {
  font-size: 1rem  
}

@media only screen and (max-width: 600px) {
  #aboutUs, #gamesText {
    font-size: 75%
  }
}

.searchText {
  font-size: 2rem;
  color: #fdefd4;
  margin: auto;
}

@media only screen and (max-width: 600px) {
  .searchText {
    width: 90%;
    text-align: center;
    font-size: 1.5rem
  }
}

#searchBtn, #emailBtn {
  margin-top: 10px;
}

.modal-title {
  font-size: 2rem;
  color: #4a4a4a
}

.modal-content {
  width: 100%;
  margin: 0
}

#modal-game-title {
  text-align: center;
  width: 80%;
}
#description {
  width: 90%;
  margin: auto 0;
  text-align: center;
}
#modalBoardGameDescription {
  width: 90%;
  margin: auto 0;
  text-align: justify;
  text-indent: 2em;
}

.alphabet {
  font-size: 2rem;
  color: black
}

.resultDiv {
  border: 3px solid black;
  border-radius: 2%;
  background: rgb(45, 45, 167);
  font-family: 'Press Start 2P', cursive;
  margin: 10px;
}

p.head {
  text-indent: 0;
  font-size: 1rem;
  color: whitesmoke;
}
p.body {
  text-indent: 1rem;
  font-size: .75rem;
  color: whitesmoke;
}

p.intro {
  text-align: center;
}

#carousel {
  border: 3px solid black;
  margin-top: 2rem;
}

.upcoming {
  font-size: 1rem;
  text-align: center;
}

footer:not(#modal-foot) {
  background: #fdefd4;
  border-top: solid black 3px;
  padding-top: 9px;
  margin-top: 50px;
}

.footer-text {
  color: #4a4a4a;
}

.icon {
  margin: 1rem
}


.wrapper {
  max-width: 400px;
  margin: auto;
}
  
.cutLines {
  text-align: justify;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
}

@media only screen and (max-width: 500px) {
  h1.title {
    font-size: 1.5rem
  }
  .contact-body {
    font-size: 65%;
  }

  .modal-card {
    width: 90%
  }
}

