div(class="columns is-mobile is-multiline is-centered") 
  div(class="column ff7Box is-three-quarters-mobile is-two-thirds-tablet is-half-desktop" id="contact")
    p.head Contact Us
    p.body#phone (720) 287-0155
    p.body#email tabletoptap@gmail.com
    p.body#facebook www.facebook.com/tabletoptap
    p.body#instagram www.instagram.com/thetabletoptap/