div(class="column ff7Box is-three-quarters-mobile is-one-third-desktop" id="hoursBox")
  p.head Hours
  p.body#monday Monday: 2pm-11pm
  p.body#tuesday Tuesday: 2pm-11pm
  p.body#wednesday Wednesday: 2pm-11pm
  p.body#thursday Thursday: 2pm-11pm
  p.body#friday Friday: 12pm-12am
  p.body#saturday Saturday: 12pm-12pm
  p.body#sunday Sunday: 12pm-11pm
  p.body#special